//GothamProRegular

@font-face {
  font-family: 'GothamProRegular';
  src: url(../fonts/GothamPro/GothamProRegular/GothamProRegular.eot),
   url(../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf),
   url(../fonts/GothamPro/GothamProRegular/GothamProRegular.woff);
  font-weight: normal;
}
//GothamProMedium

@font-face {
  font-family: 'GothamProMedium';
  src: url(../fonts/GothamPro/GothamProMedium/GothamProMedium.eot),
  url(../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf),
  url(../fonts/GothamPro/GothamProMedium/GothamProMedium.woff);
  font-weight: normal;
}

//GothamProMedium

@font-face {
  font-family: 'GothamProBold';
  src: url(../fonts/GothamPro/GothamProBold/GothamProBold.eot),
  url(../fonts/GothamPro/GothamProBold/GothamProBold.ttf),
  url(../fonts/GothamPro/GothamProBold/GothamProBold.woff);
  font-weight: normal;
}

//reg

@font-face {
  font-family: 'Reg';
  src: url(../fonts/9151.ttf);
  font-weight: normal;
}


//georgia
@font-face {
  font-family: 'geoItal';
  src: url(../fonts/georgia/georgiai.ttf);
  font-weight: normal;
}