@import "fonts";

//fonts
$gotReg:'GothamProRegular',Arial,sans-serif;
$gotMed:'GothamProMedium',Arial,sans-serif;
$gotBold:'GothamProBold',Arial,sans-serif;
$geReg:'Reg',sans;
$geItal:'geoItal',sans;
//colors

$icon:#a2a2a2;
$hov:#ff4c61;
$mainMenu:#262b31;